.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
}

.nameContainer{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url('../imgs/room-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.nameContainer::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

.nameContainer h1{
  font-size: 40pt;
  color: aliceblue;
}

.nameContainer p{
  font-size: 20pt;
  color: aliceblue;
}

.aboutMe{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.meLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 50px;
}

.meRight{
  width: 50%;
}

.me{
  display: flex;
  margin-bottom: 50px;
}

.txtContainer{
  text-align: left;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.mePhoto{
  height: 300px;
}

.techContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tech{
  display: flex;
  justify-content: center;
}

.projectContainer{
  margin-bottom: 500px;
}