.cover{
  width: 100%;
  min-height: 100vh;
}

.aboutMe{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #545c5e;
}

.skills{
  width: 100%;
  min-height: 100vh;
  background-color: #a2b7bd;
}

.projects{
  width: 100%;
  min-height: 100vh;
  display: flex;

  justify-content: center;
  background-color: #000;
}