.cover{
  width: 100%;
  min-height: 100vh;
}

.aboutMe{
  width: 100%;
  min-height: 100vh; 
}

.skills{
  width: 100%;
  min-height: 100vh;
  background-color: #a2b7bd;
}

.projects{
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}