.button{
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: black;
  color: #fff;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.button span{
  font-size: 18pt;
  position: relative;
}

.button::before{
  content: '';
  background-color: #2414ff;
  width: 0px;
  height: 0px;
  position: absolute;
  top: var(--yAxis);
  left: var(--xAxis);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width .5s, height .5s;

}

.button:hover::before{
  width: 1000px;
  height: 1000px;
}