.footerContainer{
  width: 100%;
  height: 50vh;
  background-color: rgb(32, 32, 32);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footerContainer h1{
  margin-top: 10px;
}

.item p{
  font-size: 18pt;
  font-weight: bold;
  width: 150px;
}

.list{
  display: flex;
  list-style: none;
  font-size: 18pt;
  position: absolute;
  margin-top: 80px;
}

.item{
  display: flex;
  flex-direction: column;
  border: 3px solid #14fff1;
  border-radius: 30px;
  padding: 30px 0px;
  width: 150px;
  height: 150px;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover{
  text-shadow: 0 0 8px rgba(255, 255, 255, .3), 0 0 29px #14fff1;
  box-shadow: inset 0 0 32px #14fff1, 0 0 32px #14fff1;
}

.item:hover::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #14fff1;
  top: 150px;
  transform: perspective(64px) rotateX(40deg) scale(1, .35);
  filter: blur(64px);
}

.list li a{
  text-decoration: none;
  color: #14fff1;
  transition: .5s;
  font-size: 38pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.copy{
  width: 300px;
  margin-bottom: 40px;
  font-size: 16pt;

}

@media (max-width: 480px) {
  .footerContainer{
    height: 40vh;
  }
  .item{
    scale: .8;
    margin: 0;
  }
  
}

@media (max-width: 380px) {
  .item{
    scale: .5;
    margin: -15px;
  }
  
}