.navBar{
  width: 100%;
  position: fixed;
  background-color: rgba(13, 13, 14, .9);
  z-index: 1000;
}

.hamburgerMenu{
  display: none;
}

.navBar ul{
  display: flex;
  padding-right: 40px;
}

.navBar ul li{
  padding: 20px;
  list-style: none;
}

.navBar ul li a{
  text-decoration: none;
  color: aliceblue;
  position: relative;
  display: inline-block;
}

.navBar ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: aliceblue;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.navBar ul li a:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0%);
}

.progressBar{
  width: 100%;
  height: 5px;
  background-color: #fff;
  animation: progress 1ms ease-in-out;
  animation-timeline: scroll();
  box-shadow: inset 0 0 32px #14fff1, 0 0 32px #14fff1;
}

@keyframes progress{
  from{
    scale: 0 1;
  }
  to{
    scale: 1 1;
  }

}

@media (max-width: 480px){

  .navBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburgerMenu{
    display: block;
    font-size: 24pt;
    margin: 20px;
  }

  .menuItem.hidden {
    display: none;
  }
  
  .menuItem.visible {
    display: block;
    text-align: left;
  }


  
}