.container{
  width: 350px;
  height: 470px;
  padding: 10px;
  border-radius: 20px;
  background-color: #03bcf4;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.link{
  text-decoration: none;
}

.container::before{
  content: "";
  width: 130px;
  height: 140%;
  background-color: #fff;
  box-shadow: inset 0 0 20px #14fff1;
  animation: animate 4s linear infinite;
  position: absolute;
}

.container::after{
  content: "";
  inset: 5px;
  background-color: rgb(4, 75, 97);
  border-radius: 20px;
  position: absolute;
}

.content{
  z-index: 10;
}

.img{
  width: 280px;
  margin-top: 10px;
  border: 1px solid black;
}

.size{
  height: 150px;
  margin-top: 10px;
  border: 1px solid black;
}

.container p{
  text-align: justify;
  padding: 10px;
}

.list{
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.listItem{
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.listItem :only-child{
  border: none;
}



@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (max-width: 420px) {
  .container{
    scale: .8;
    margin: 10px;
  }
  
}