.projContainer{
  width: 480px;
  height: 270px;
  display: flex;
  flex-direction: column;
}

.transition{
  border: 3px solid black;
  width: 480px;
  height: 270px;
  display: flex;
  flex-direction: column;
}