.techContainer{
  width: 20em;
  height: 23em;
  border: 2px solid black;
  border-radius: 20px;
  margin: 2em;
}

.techContainer p{
  padding: .8em;
  text-align: justify;
}

.techContainer ul{
  padding: 0;
}

.list{
  list-style: none;
  display: flex;
  justify-content: center;
  
}

.listItem{
  margin: 1em;
}