.techContainer{
  width: 150px;
  height: 200px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.techContainer img{
  height: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.techContainer p{
  font-weight: bold;
  margin-bottom: 5px;
}

.progressBar{
  width: 100px;
  height: 10px;
  border: 2px solid black;
  border-radius: 30px;
}

.progressFill {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
}

