.aboutMe{
  display: flex;
  align-items:center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  background-color: #545c5e;
}

.meLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 50px;
}

.meRight{
  width: 50%;
}

.me{
  display: flex;
  margin-bottom: 50px;
}

.txtContainer{
  text-align: left;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  color: #FFF;
}

.txtContainer h1{
  color: #03a1a6;
}

.mePhoto{
  height: 300px;
}

@media (max-width: 480px) {
  .aboutMe{
    flex-direction: column;
    padding-top: 100px;
    justify-content: center;
  }

  .meLeft{
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .txtContainer{
    width: 80%;
    margin: 30px 0 0 0;
    width: ;
  }

  .meRight{
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .me{
    flex-direction: column;
    align-items: center;
  }

}