*{
  color: #fff;
}

.projectsContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.sectionTitle{
  font-size: 24pt;
  margin-top: 80px;
  margin-bottom: 30px;
}

.projects{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

@media (max-width: 480px) {
  .projects{
    flex-direction: column;
    margin-bottom: 20px;
  }
  
}

@media (min-width: 1400px) {
  .projectsContainer{
    width: 80%;
  }
  
}