.skillContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a2b7bd;
  border-top: solid 5px black;
  text-align: center;
}

.skillContainer h2{
  font-size: 24pt;
  font-weight:bold;
}

.tech{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skill{
  width: 480px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  animation: appearLeft ease;
  animation-timeline: view();
  animation-range: cover 0% cover 20%;

}

.skill h3{
  margin-bottom: 10px;
}

.skill span{
  font-weight: bold;
}

.appearOne{
  animation: appearLeft ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 25%;
}

.appearTwo{
  animation: appearLeft ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 28%;
}

.appearThree{
  animation: appearLeft ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 31%;
}

.appearFour{
  animation: appearLeft ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 34%;
}

.appearFive{
  animation: appearLeft ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 37%;
}

.appearSix{
  animation: appearLeft ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
}

@keyframes appearLeft{
  from{
    opacity: 0;
    translate: -100vw 0;
  }

  to{
    opacity: 1;
    translate: 0 0;
  }
}